@model ICollection<AppUser>

<div class="text-center">
    <h1 class="display-4">SlaughterHouse</h1>
    @if (@Model != null && @Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">AccreditationRate</th>
                    <th scope="col">Location</th>
                    <th scope="col">Email</th>
                    <th scope="col">Edit</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var user in Model)
                {
                    @if (@user.SlaughterHouse.AccreditationRate != null)
                    {
                        <tr>
                            <th scope="row">@user.Id</th>
                            <td>@user.SlaughterHouse.AccreditationRate</td>
                            <td>@user.SlaughterHouse.Location</td>
                            <td>@user.Email</td>
                            <td>
                                <a asp-controller="ListOfSlaughterHouse" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    }
</div>

<div class="text-center">
</div>