@model AppUser

<div>
    <h4>SlaughterHouse Info:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlaughterHouse.AccreditationRate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlaughterHouse.AccreditationRate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlaughterHouse.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlaughterHouse.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlaughterHouse.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlaughterHouse.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlaughterHouse.ContactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlaughterHouse.ContactInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SlaughterHouse.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SlaughterHouse.Image)
        </dd>
    </dl>
</div>