@model AppUser


<div>
    <h4>Producer Info:</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer.OwnerName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer.OwnerName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer.FarmName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer.FarmName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer.FarmLocation)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer.FarmLocation)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer.ContactInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer.ContactInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Producer.Image)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Producer.Image)
        </dd>
    </dl>
</div>
